* {
    margin: 0;
    padding: 0;
}

.main_wrapper {
    width: 320px;
    height: 400px;
    background: #323642;
}

.main_title_wrapper {
    display: flex;
    width: 100%;
}

.logo {
    padding: 20px;
    padding-top: 23px;
}

.title {
    padding: 20px;
    padding-left: 50px;
    color: white;
}

.main_signin_wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
}

.signin_btn {
    background: rgb(88, 101, 242);
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
}